:host {
    .form {
        margin-top: 20px;
        .checkbox-border {
            border-bottom: 2px solid #a5a5a5;
            padding: 10px 0;
        }
        &.fborder {
            border: 2px solid #a5a5a5;
        }
    }
}