:host {
    section {
        margin: 20px auto;
        border: 1px solid #a5a5a5;
        &>div {
            position: relative;
            min-height: 95vh;
            border: 1px solid #a5a5a5;
            &:nth-child(2) {
                padding-bottom: 20px;
                &:not(.not-bulk) {
                    padding-bottom: 90px;
                }
            }
        }
        .bulk {
            border-top: 2px solid #a5a5a5;
            position: absolute;
            bottom: 0;
            background-color: #ccc;
            height: 70px;
            margin: 0 -12px;
            width: 100%;
            padding: 0 20px;
        }
    }
}
